h1 {
	color: white;
	font-size: 72px;
}

body {
	background-color: navajowhite;
}

form {
	background-color: white;
	width: 1450px;
	margin-left: -150px;
}

.all{
	padding-left: 20%;
}

.product_card {
	display: flex;
}

.product_card img {
	border-radius: 30px;
	width: 400px;
	height: 400px;
}

.name {
	padding-top: 80px;
	font-size:  27px;
}

.avilitable {
	font-size: 18px;
	color:  gray;
	background-color: red;
}

.category{
	padding-top: 20px;
	font-size: 24px;
	color: gray;
	background-color: blue;
}

.info {
	flex-direction: column;
}

.price_info {
	padding-top: 110px;
	padding-left: 100px;
	justify-content: flex-end;
}

.price{
	font-size: 27px;
	padding-bottom: 20px;
}
.myball{
	font-size: 27px;
	background-color: gray;
	width: 210px;
	border-radius: 4px;

}

.butt button {
	font-size: 27px;
	width: 150px;
	height: 50px;
	border-radius: 30px;
	border:none;
	background: linear-gradient(to right, orange, yellow);
	color: white;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.buttons{
	padding-top: 80px;
	display: flex;
}

.comparison{
	font-size: 18px;
	color: grey;
	padding-right: 40px;
}


.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
	background-color: black;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}


 #okno {
        width: 300px;
        height: 50px;
        text-align: center;
        padding: 15px;
        border: 3px solid #0000cc;
        border-radius: 10px;
        color: #0000cc;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
      #okno:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid #0000cc;
        color: #0000cc;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;
      }
      .close:hover {background: #e6e6ff;}

a {
	text-decoration: none;
	color:  white;
}

button:hover {
	width: 152px;
	height: 53px;
	margin-top: 3px;
}